<footer class="companies-footer">
  <!-- <div class="company-list">
    <div class="company-item" *ngFor="let company of companies">
      {{company}}
    </div>
  </div> -->
  <div class="social-bar">
    <div class="social-links">
      <a href="https://linkedin.com" target="_blank">in</a>
      <a href="https://github.com" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://facebook.com" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
    </div>
    <div class="news-ticker">
      <span *ngFor="let news of newsItems">{{news}}</span>
    </div>
  </div>
</footer>