<nav class="top-nav">
  <div class="nav-left">
    <span class="name"><b>{{name}}</b></span>
  </div>
  <div class="nav-center">
    <a routerLink="/home" routerLinkActive="active">_hello</a>
    <a routerLink="/experiences" routerLinkActive="active">_experience</a>
    <a routerLink="/projects" routerLinkActive="active">_projects</a>
    <a routerLink="/about" routerLinkActive="active">_about</a>
    <a routerLink="/skills" routerLinkActive="active">_skills</a>
    <a routerLink="/contact" routerLinkActive="active">_contact-me</a>
  </div>
  <div class="nav-right">
    <app-avatar></app-avatar>
  </div>
</nav>