* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background: #1E1E1E;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.highlight {
  color: var(--primary-color);
}

.btn {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: darken(#007bff, 10%);
  }
}